<h1>Task manager</h1>
<p>This is application for managing a todo list</p>
<%= link_to('Categories', categories_path) %> <br/>
<%= link_to('Tasks', tasks_path(page: 1))%><br/>

<%= link_to('About', action: 'about', page: 5, id: 20)%><br/>
