<%= link_to('Back To list', tasks_path)%>
<div>
  <h2>Delete Task</h2>
  <%= form_for(@task, method: 'delete') do |f| %>
    <% # url: task_path(@task), method: 'patch' %>
    <p>Are you sure you want to delete this Tasks?</p>
    <p><%= @task.name %></p>
    <button>
      <%= f.submit('Delete Task') %>
    </button>
  <%end%>
</div>
