<%= link_to('Back To list', tasks_path)%>
<div>
  <h2>Create Task</h2>
  <%= form_for(@task) do |f| %>
    <% # url: task_path(@task), method: 'patch' %>
    <%= render(partial: 'form', locals:{f:f})%>
    <button>
      <%= f.submit('Edit Task') %>
    </button>
  <%end%>
</div>
