/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body,*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
 }
 body{
  width: 100%;
  display: flex;
  justify-content: center;
 }
 section{max-width: 60%;margin: 50px 0;}
 .wrapper{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
 }

 .wrapper h1{margin-right: auto;}
 .wrapper a{margin-left: 2.5px;}

 .tasks {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.tasks td, .tasks th {
  padding: 20px;
}

.tasks tr{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
.tasks th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background-color:  #008bba;
  color: white;
}

.button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.button:hover {opacity: 0.8;}

.normal-btn {color: #008bba; border: 1px #008bba solid;} 
.show-btn {background-color: #04aa6d4d; color: #04aa6d;} 
.edit-btn {background-color: #008bba4d; color: #008bba;} 
.delete-btn {background-color: #f443364d; color: #f44336;} 