<%= link_to('Back to Category', categories_path)%>
<h1>Edit Categories</h1>
<%= form_for(@category) do |f| %>
<% # url: category_path(@category), method: 'patch' %>
  <%= render(partial: 'form', locals:{f:f}) %>
  <button>
    <%= f.submit('Update Category')%>
  </buton>
<%end%>